################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/COM_EventsIssueNet6/bin
/COM_EventsIssueNet6/obj
**/*.user
